<dialog id="onLoadSignupPopup">
  <button id="loadSignupPopupCloseButton" class="closeBtnTop shadow-2">
    X
  </button>
  <form class="p-4 shadow-2 border-round w-full lg:w-full grid" id="sib-form">
    <div class="text-center text-900 text-3xl font-medium mb-3">
      We got you some presents
    </div>

    <span class="text-center text-900 font-medium line-height-3"
      >Subscribe to our Newsletter</span
    >

    <div class="flex">
      <label for="FIRSTNAME" class="block text-900 font-medium mb-2 width-25"
        >First Name</label
      >
      <input
        id="FIRSTNAME"
        name="FIRSTNAME"
        type="text"
        class="mb-3 width-75"
        required
      />
    </div>

    <div class="flex">
      <label for="LASTNAME" class="block text-900 font-medium mb-2 width-25"
        >Last Name</label
      >
      <input
        id="LASTNAME"
        name="LASTNAME"
        type="text"
        class="mb-3 width-75"
        required
      />
    </div>

    <div class="flex">
      <label for="EMAIL" class="block text-900 font-medium mb-2 width-25"
        >Email</label
      >
      <input
        id="EMAIL"
        name="EMAIL"
        type="email"
        class="width-75"
        required
      />
    </div>

    <button
      icon="pi pi-user"
      class="lg:w-6 formSubmitBtn shadow-2"
      type="submit"
      form="sib-form"
    >
      Subscribe
    </button>
  </form>
</dialog>

<!-- Google tag (gtag.js) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-0R9KRMEPLF"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-0R9KRMEPLF");
</script>

<style scoped>
  #onLoadSignupPopup::backdrop {
    background-color: rgba(88, 85, 85, 0.5);
  }

  .grid {
    display: grid;
    grid-row-gap: 1rem;
  }

  .flex {
    display: flex;
  }

  input {
    border-radius: 6px;
    border: 2px solid #b19df7;
  }

  .formSubmitBtn {
    border-radius: 3px;
    margin: auto;
    padding: 10px;
    border: none;
    color: hsl(253, 56%, 46%);
    background-color: #f6ecff;
  }

  .closeBtnTop {
    border-radius: 3px;
    margin: auto;
    color: hsl(253, 56%, 46%);
    background-color: #f6ecff;
  }
</style>
