<dialog id="onLoadSignupPopup">
  <button id="loadSignupPopupCloseButton">X</button>
  <form class="surface-card p-4 shadow-2 border-round w-full lg:w-full" 
  id="onLoadSignupPopupForm"
    method="POST" 
    action="https://0ea6c67a.sibforms.com/serve/MUIFAGVwj5DYXbRU5LctwWB-NShXYFWR3JDy81hAUQgmsS5q8k9URGMA9pm83v53_4Fe-2uUVI8B7lCf1XtisLDzgIsoUWIzdiI6AGXh5fPZw6nrXdhe8_A5MoIZAXeqpJESr3w4xmVPtwykN_sVn8TcPvv71M0mSaSQHXpKViRRVenwFX99-muV0_MjjctxMxXQ6CTy2MDCgRCw">
    <div class="text-center mb-5">
      <div class="text-900 text-3xl font-medium mb-3">We got you some presents</div>
      
      <span class="text-600 font-medium line-height-3"
        >Subscribe to our Newsletter</span
      >

      <div>
        <label for="onLoadSignupPopupfirstName" class="block text-900 font-medium mb-2"
          >First Name</label
        >
        <input id="onLoadSignupPopupfirstName" name="FIRSTNAME" type="text" class="w-full mb-3" />

        <label for="onLoadSignupPopuplastName" class="block text-900 font-medium mb-2"
          >Last Name</label
        >
        <input id="onLoadSignupPopuplastName" name="LASTNAME" type="text" class="w-full mb-3" />

        <label for="onLoadSignupPopupemail" class="block text-900 font-medium mb-2"
          >Email</label
        >
        <input id="onLoadSignupPopupemail" name="EMAIL" type="email" class="w-full mb-3" />

        <button icon="pi pi-user" class="w-full" type="submit">Subscribe</button>
      </div>
    </form>
  </div>

 
</dialog>

<!-- Google tag (gtag.js) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-0R9KRMEPLF"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-0R9KRMEPLF");
</script>

<style>

  #onLoadSignupPopup::backdrop {
    background-color: rgba(88, 85, 85, 0.5);
  }
  
</style>
