<dialog id="onLoadSignupPopup">
  <button id="loadSignupPopupCloseButton">X</button>
  <iframe
    width="600"
    height="520"
    src="https://0ea6c67a.sibforms.com/serve/MUIFAOfpPu3okgJww0E11pH6JBJ6Z7wWcyu5dYbsfoZwhtWMeFpFYqZIriKyAaTAh4rF-Dblkn25TkfClg7hi4mjItu0sACQz73dQIv2qAL5hegJ1zEuKu5Jo--4FFn8PU5jwQPtyziuPr6EPPJEojSwoyTR9LYWMD4I-UOgzPLYHR10v9W9X72B3ycf1BKVUwkbIZWtL3tOzoJv"
    frameborder="0"
    scrolling="auto"
    allowfullscreen
    style="
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
    "
  ></iframe>
</dialog>

<style>
  #onLoadSignupPopup {
    position: relative;
  }
  #onLoadSignupPopup::backdrop {
    background-color: rgba(88, 85, 85, 0.5);
}
  #loadSignupPopupCloseButton {
    position: absolute;
    right: 2rem;
    top: 2rem;
  }
</style>
