/* Place your custom SCSS in HUGO_SITE_FOLDER/assets/scss/custom.scss */

.p-4 {
  padding: 1.5rem !important;
}

.shadow-2 {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03), 0px 0px 2px rgba(0, 0, 0, 0.06),
    0px 2px 6px rgba(0, 0, 0, 0.12) !important;
}

.border-round {
  border-radius: 2px !important;
}

.w-full {
  width: 100% !important;
}

.lg\:w-6 {
  width: 50% !important;
}

.text-center {
  text-align: center !important;
}

.mb-5 {
  margin-bottom: 2rem !important;
}

.text-900 {
  color: hsl(253, 56%, 46%) !important;
}

.text-3xl {
  font-size: 1.75rem !important;
}

.font-medium {
  font-weight: 500 !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.text-600 {
  color: lightcoral !important;
}

.line-height-3 {
  line-height: 1.5 !important;
}

.block {
  display: block !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.flex {
  display: flex !important;
}

.align-items-center {
  align-items: center !important;
}
.justify-content-between {
  justify-content: space-between !important;
}

.mb-6 {
  margin-bottom: 3rem !important;
}

.lg\:w-full {
    width: 100% !important;
  }

  .width-25{
    width: 25% !important;
  }

  .width-75{
    width: 75% !important;
  }
